# Detect backup device was connected, then create /dev/backup symlink and run /lib/udev/backup script

ENV{ID_FS_UUID}=="#UUID#", SYMLINK+="backup"
ACTION=="add", ENV{ID_FS_UUID}=="#UUID#", RUN+="backup"
