# Filename:      99-backup.rules
# Author:        Dariusz Luksza <dariusz@luksza.org>
# Bug-Reports:   https://github.com/dluksza/automatic-back-up/issues
# License:       This file is licensed under the GPL v2.

ENV{ID_FS_UUID}=="#UUID#", SYMLINK+="backup"
ACTION=="add", ENV{ID_FS_UUID}=="#UUID#", RUN+="backup"
